version: '2'

services:
  app:
    environment:
      RAILS_ENV: development
    volumes:
      - .:/ya
    ports:
      - 3000:3000
    restart: always
  frontend:
    ports:
      - 8001:80
      - 443:443
