- signature, expiry = @location.signature
%p<Hi,
%p
  A new listing has just been added to the Young Aggrarians map system. This
  lsting requires admin approval before it goes live. 
  = link_to 'Click here', 'http://map.youngagrarians.org' + rails_admin.show_path(model_name: 'location', id: @location.id)
  to review and approve.