%p<Hi,

%p
  Thanks for registering #{@location.name}.  You can view it online 
  #{link_to( 'here', location_url( @location ) )}.
- if @location.account
  %p
    You can update your location details at any time by visiting 
    #{link_to login_url, login_url}.
