%p<Hi,
%p
  You've requested a password reset for your YoungAgrarians account.  You can
  reset your password by following this link:
  %br
  = link_to password_reset_url( @user.reset_password_token ), password_reset_url( @user.reset_password_token )
%p
  If you did not request that reset, you can safely ignore this email.
