
.splash
  %a{:href => "/map"}
    %img.tablet.desktop{:src => "../images/young-agrarians-text.png"}/
    %img.mobile{:src => "../images/ya-letters.png"}/
    %br/
    %img{:src => "../images/umap-text.png"}/
  %br/
  %p.splash-subhead
    Choose a category or enter a keyword to begin.
  %ul.splash-icons
    %li{"data-category" => "network", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/network.png"}/
      .blurb
        Networks
      %ul.splash-subtag-menu
        %li{"data-tag" => "event", :onclick => "pickTag(event)"}
          
          Events
        %li{"data-tag" => "organization", :onclick => "pickTag(event)"}
          
          Organizations
        %li{"data-tag" => "farm", :onclick => "pickTag(event)"}
          
          Farms
    %li{"data-category" => "education", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/education.png"}/
      .blurb
        Education
      %ul.splash-subtag-menu
        %li{"data-tag" => "education", :onclick => "pickTag(event)"}
          
          Education Programs
        %li{"data-tag" => "publication", :onclick => "pickTag(event)"}
          
          Publications
        %li{"data-tag" => "web-resource", :onclick => "pickTag(event)"}
          
          Web Resources
    %li{"data-category" => "jobs-training", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/jobs-training.png"}/
      .blurb
        Jobs &
        %br/
        Training
      %ul.splash-subtag-menu
        %li{"data-tag" => "job", :onclick => "pickTag(event)"}
          
          Jobs
        %li{"data-tag" => "apprenticeship", :onclick => "pickTag(event)"}
          
          Apprenticeship
    %li{"data-category" => "business", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/business.png"}/
      .blurb
        Business
      %ul.splash-subtag-menu
        %li{"data-tag" => "business", :onclick => "pickTag(event)"}
          
          Business Development
        %li{"data-tag" => "funding", :onclick => "pickTag(event)"}
          
          Funding
    %li{"data-category" => "land", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/land.png"}/
      .blurb
        Land
      %ul.splash-subtag-menu
        %li{"data-tag" => "land", :onclick => "pickTag(event)"}
          
          Land Listings
        %li{"data-tag" => "seeking", :onclick => "pickTag(event)"}
          
          Farmers Looking For Land
        %li{"data-tag" => "resource", :onclick => "pickTag(event)"}
          
          Resources            
    %li{"data-category" => "run-your-farm", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/run-your-farm.png"}/
      .blurb
        Run Your
        %br/
        Farm
      %ul.splash-subtag-menu
        %li{"data-tag" => "market", :onclick => "pickTag(event)"}
          
          Market
        %li{"data-tag" => "tool", :onclick => "pickTag(event)"}
          
          Production Planning Tools
        %li{"data-tag" => "seed", :onclick => "pickTag(event)"}
          
          Seeds
        %li{"data-tag" => "resource", :onclick => "pickTag(event)"}
          
          Services and Suppliers   
  %p
    %input.search-box{:onkeyup => "checkKeyUp(event)", :placeholder => "Search: ie) bees, soil testing, etc.", :type => "text"}/

:javascript
  function checkKeyUp(e){
      if (e.which === 13) {
          window.location = "/map#q=" + e.target.value;
      }
  }
  function pickCategory(e){
      window.location = "/map#c=" + e.target.parentNode.getAttribute('data-category');
  }
  function pickTag(e){
      window.location = "/map#t=" + e.target.parentNode.getAttribute('data-tag');
  }
