
.splash
  %a{:href => "/map"}
    %img.tablet.desktop{:src => "../images/young-agrarians-text.png"}/
    %img.mobile{:src => "../images/ya-letters.png"}/
    %br/
    %img{:src => "../images/umap-text.png"}/
  %br/
  %p.splash-subhead
    %a{:href => "/map"} View all
    listings, or choose a category or enter a keyword to begin.
  %ul.splash-icons
    %li{"data-category" => "Network", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/network.png"}/
      .blurb
        Network
      %ul.splash-subtag-menu
        %li{"data-tag" => "Events", :onclick => "pickTag(event)"}
          
          Events
        %li{"data-tag" => "Organizations", :onclick => "pickTag(event)"}
          
          Organizations
        %li{"data-tag" => "Farms", :onclick => "pickTag(event)"}
          
          Farms
    %li{"data-category" => "Education", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/education.png"}/
      .blurb
        Education
      %ul.splash-subtag-menu
        %li{"data-tag" => "Education Programs", :onclick => "pickTag(event)"}
          
          Education Programs
        %li{"data-tag" => "Publication", :onclick => "pickTag(event)"}
          
          Publications
        %li{"data-tag" => "Web Resource", :onclick => "pickTag(event)"}
          
          Web Resources
    %li{"data-category" => "Jobs & Training", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/jobs---training.png"}/
      .blurb
        Jobs &
        %br/
        Training
      %ul.splash-subtag-menu
        %li{"data-tag" => "Jobs", :onclick => "pickTag(event)"}
          
          Jobs
        %li{"data-tag" => "Apprenticeships", :onclick => "pickTag(event)"}
          
          Apprenticeships
    %li{"data-category" => "Business", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/business.png"}/
      .blurb
        Business
      %ul.splash-subtag-menu
        %li{"data-tag" => "Business Development", :onclick => "pickTag(event)"}
          
          Business Development
        %li{"data-tag" => "Funding", :onclick => "pickTag(event)"}
          
          Funding
    %li{"data-category" => "Land", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/land.png"}/
      .blurb
        Land
      %ul.splash-subtag-menu
        %li{"data-tag" => "Land Listings", :onclick => "pickTag(event)"}
          
          Land Listings
        %li{"data-tag" => "Seeking", :onclick => "pickTag(event)"}
          
          Farmers Looking For Land
        %li{"data-tag" => "resource", :onclick => "pickTag(event)"}
          
          Resources            
    %li{"data-category" => "Run Your Farm", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/run-your-farm.png"}/
      .blurb
        Run Your
        %br/
        Farm
      %ul.splash-subtag-menu
        %li{"data-tag" => "Markets", :onclick => "pickTag(event)"}
          
          Markets
        %li{"data-tag" => "Production Planning Tools", :onclick => "pickTag(event)"}
          
          Production Planning Tools
        %li{"data-tag" => "Seeds", :onclick => "pickTag(event)"}
          
          Seeds
        %li{"data-tag" => "Infrastructure", :onclick => "pickTag(event)"}
          
          Services and Suppliers   
  %p
    %input.search-box{:onkeyup => "checkKeyUp(event)", :placeholder => "Search: ie) bees, soil testing, etc.", :type => "text"}/

:javascript
  function checkKeyUp(e){
      if (e.which === 13) {
          window.location = "/map#q=" + e.target.value;
      }
  }
  function pickCategory(e){
      window.location = "/map#t=" + encodeURIComponent(e.target.getAttribute('data-tag') || e.target.parentNode.getAttribute('data-category'));
  }
  function pickTag(e){
      
      //window.location = "/map#t=" + e.target.getAttribute('data-tag');
  }
