<div id='map-app-container'>
  <div class="row collapse">
    <div class="large-10 columns">
      <div id="map"></div>
      <div class='row' id="results"></div>
    </div>
    <div id="sidebar" class="large-2 columns"></div>
  </div>
</div>