
.splash
  %a{:href => "/map"}
    %img.tablet.desktop{:src => "../images/young-agrarians-text.png"}/
    %img.mobile{:src => "../images/ya-letters.png"}/
    %br/
    %img{:src => "../images/umap-text.png"}/
  %br/
  %p.splash-subhead
    Choose a category or enter a keyword to begin.
  %ul.splash-icons
    %li{"data-tag" => "Network", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/network.png"}/
      .blurb
        Network
      %ul.splash-subtag-menu
        %li{"data-tag" => "Events"}
          
          Events
        %li{"data-tag" => "Organizations"}
          
          Organizations
        %li{"data-tag" => "Farms"}
          
          Farms
    %li{"data-tag" => "Education", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/education.png"}/
      .blurb
        Education
      %ul.splash-subtag-menu
        %li{"data-tag" => "Educational Programs"}
          
          Education Programs
        %li{"data-tag" => "Publications"}
          
          Publications
        %li{"data-tag" => "Web Resources"}
          
          Web Resources
    %li{"data-tag" => "Jobs & Training", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/jobs---training.png"}/
      .blurb
        Jobs &
        %br/
        Training
      %ul.splash-subtag-menu
        %li{"data-tag" => "Jobs"}
          
          Jobs
        %li{"data-tag" => "Apprenticeships"}
          
          Apprenticeships
    %li{"data-tag" => "Business", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/business.png"}/
      .blurb
        Business
      %ul.splash-subtag-menu
        %li{"data-tag" => "Business Development"}
          
          Business Development
        %li{"data-tag" => "Funding"}
          
          Funding
    %li{"data-tag" => "Land", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/land.png"}/
      .blurb
        Land
      %ul.splash-subtag-menu
        %li{"data-tag" => "Land Listings"}
          
          Land Listings
        %li{"data-tag" => "Seeking"}
          
          Farmers Looking For Land
        %li{"data-tag" => "Land Resources"}
          
          Land Resources            
    %li{"data-tag" => "Run Your Farm", :onclick => "pickCategory(event)"}
      %img{:src => "../images/icon/run-your-farm.png"}/
      .blurb
        Run Your
        %br/
        Farm
      %ul.splash-subtag-menu
        %li{"data-tag" => "Markets"}
          
          Markets
        %li{"data-tag" => "Production Planning Tools"}
          
          Production Planning Tools
        %li{"data-tag" => "Seeds"}
          
          Seeds
        %li{"data-tag" => "Services and Suppliers"}
          
          Services and Suppliers
  %p.search-wrap
    %input.search-box{:onkeyup => "checkKeyUp(event)", :placeholder => "Search: ie) bees, soil testing, etc.", :type => "text"}/

:javascript
  console.log('f')
  function checkKeyUp(e){
      if (e.which === 13) {
          window.location = "/map#q=" + e.target.value;
      }
  }
  function pickCategory(e){
      window.location = "/map#t=" + encodeURIComponent(
        e.target.getAttribute('data-tag') || e.target.parentNode.getAttribute('data-tag')
      );
  }
