/* --------------------- DOMAIN CATEGORY ICONS -------------------

.farm
  .filled
    background: #85563D
    &:after
      border-color: #85563D
  color: #85563D

.funding
  .filled
    background: #745DA3
    &:after
      border-color: #745DA3
  color: #745DA3

.web-resource
  .filled
    background: #7A7667
    &:after
      border-color: #7A7667
  color: #7A7667

.seed
  .filled
    background: #81A94E
    &:after
      border-color: #81A94E
  color: #81A94E

.publication
  .filled
    background: #222356
    color: white
    &:after
      border-color: #222356
  color: #222356

.organization
  .filled
    background: #FFC20E
    &:after
      border-color: #FFC20E
  color: #FFC20E

.market
  .filled
    background: #F26522
    &:after
      border-color: #F26522
  color: #F26522

.land
  .filled
    background: #81A94E
    &:after
      border-color: #81A94E
  color: #81A94E

.job
  .filled
    background: #0084B5
    &:after
      border-color: #0084B5
  color: #0084B5

.infrastructure
  .filled
    background: #CF4F1C
    &:after
      border-color: #CF4F1C
  color: #CF4F1C

.event
  .filled
    background: #16807C
    &:after
      border-color: #16807C
  color: #16807C

.education
  .filled
    background: #9D0A0E
    color: white
    &:after
      border-color: #9D0A0E
  color: #9D0A0E

.business
  .filled
    background: #00652E
    color: white
    &:after
      border-color: #00652E
  color: #00652E

.apprenticeship
  .filled
    background: #A0174C
    &:after
      border-color: #A0174C
  color: #A0174C