/* =Theme customization starts here

-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700);


@font-face {
font-family: 'Young Agrarians legible';
  src: url(font-path('YOUNG_AGRARIANS.eot'));
  src: url(font-path('YOUNG_AGRARIANS.woff')) format('woff'),
           url(font-path('YOUNG_AGRARIANS.ttf')) format('truetype'),
           url(font-path('YOUNG_AGRARIANS.svg')) format('svg');

}
@font-face {
    font-family: 'sofia_pro_lightregular';
    src: url(font-path('SofiaProLight-webfont.eot'));
    src: url(font-path('SofiaProLight-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('SofiaProLight-webfont.woff')) format('woff'),
         url(font-path('SofiaProLight-webfont.ttf')) format('truetype'),
         url(font-path('SofiaProLight-webfont.svg') + '#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'YoungAgrariansBoldDarkBoldDark';
    src: url(font-path('young_agrarians_bold_dark.eot'));
    src: url(font-path('young_agrarians_bold_dark.eot')) format('embedded-opentype'),
         url(font-path('young_agrarians_bold_dark.woff')) format('woff'),
         url(font-path('young_agrarians_bold_dark.ttf')) format('truetype'),
         url(font-path('young_agrarians_bold_dark.svg') + '#YoungAgrariansBoldDarkBoldDark') format('svg');
}
@font-face {
    font-family: 'YoungAgrariansBoldBold';
    src: url(font-path('young_agrarians_medium.eot'));
    src: url(font-path('young_agrarians_medium.eot')) format('embedded-opentype'),
         url(font-path('young_agrarians_medium.woff')) format('woff'),
         url(font-path('young_agrarians_medium.ttf')) format('truetype'),
         url(font-path('young_agrarians_medium.svg') + '#YoungAgrariansBoldBold') format('svg');
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url(font-path('BebasNeue.eot'));
    src: url(font-path('BebasNeue.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('BebasNeue.woff')) format('woff'),
         url(font-path('BebasNeue.ttf')) format('truetype'),
         url(font-path('BebasNeue.svg') + '#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{

-webkit-font-smoothing: antialiased;

}

a:active, a:hover, .widget a:hover {
  color:rgb(197,63,63);
  text-decoration:none;
}

@import "header";

h1, h2, h3, h4, h5, h6 {
  font-family: 'YoungAgrariansBoldBold'
}

#map-app-container {
  .row {
    min-width:100% !important;
  }
}

#sidebar {
  margin-top: 10px;
  padding: 0;
  font-family: 'sofia_pro_lightregular';
}

#map {
   height: 536px;
   min-height: 400px;
   min-width: 300px;
   /* Bootstrap Css Map Fix*/
  img {
    max-width: none;
  }label {
    width: auto; display:inline;
  }

  @media (max-device-width: 767px) {
    height: 250px;
    min-height: 250px;
  }
}

#sidebar {
  // TODO: this is a hack should use foundation grid system properly instead
  & > div {
    padding: 10px;
    padding-top: 0px;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      .legend-item-icon {
        max-height: 16px;
        max-width: 16px;
        margin-left: 2px;
        vertical-align: middle;
      }

      ul {
        margin-left: 20px;
        font-size: 14px;
      }
    }
  }

  #search-form-container {
    min-width: 220px;
    white-space:nowrap;
  }

  #map-search {
    height: 24px;

    div {
      display: inline-block;
    }

    div.search-field-container {
      width: 185px;
      min-width: 185px;
      position: relative;
      margin-left: 0px;
    }

    a#map-search-clear {
      cursor: pointer;
      height: 16px;
      width: 16px;
      position: absolute;
      left: 65%;
      top: 5px;
    }

    #search-button-container {
      vertical-align: top;
    }
  }

  #map-selected-categories {
    padding-top: 5px;
    margin-top: 7px;

    ul {

      margin-bottom: 0;

      li {
        background-color: blue;
      }
    }
  }

#search-button {
  margin-left: 10px;
  i {
    margin: 0 -15px;
  }
}

  #map-selected-subcategories {

    ul {

      li {
        background-color: green;
      }
    }
  }

  .selected-categories-container {

    ul {
      font-size: 11px;
      color: white;

      li {
        display: inline-block;
        margin: 2px;
        padding: 2px 5px;
      }
    }
  }

  #map-legend-container
  {
    li {
     height: auto;
    }
  }
}

#results {
  ul.results-list {
    margin: 0 20px 0;
    list-style-type: none;

    h2 {
      line-height: 32px;
      vertical-align: middle;
      font-weight: 600;
      a {
        display: inline-block;
        margin-top: 7px;
      }
    }

    li {
      margin-bottom: 10px;
      img {
        display: inline-block;
        margin-right: 2px;
        max-width: 32px;
        max-height: 32px;
        vertical-align: middle;
      }
      p.location-description {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}

#app-modal {
  label .optional {
    font-style:italic
  }

   ul {
        list-style-type: none;
      }

    .modal-body {
      margin: 1rem;
    }
   form#add-to-map-form {

      label {
        display: inline-block;
        width: 160px;
        vertical-align: top;
      }

      #subcategories-control-group #subcategory-selects div:last-child select { margin-bottom: 3px; }

      .controls {
         display: inline-block;

         input, textarea, select {
            width: 340px;
            @media (max-device-width: 767px) {
              width: 15em;
            }
         }

         input#location {
           margin-bottom: 2px;
         }

         input#show_until {
           margin-bottom: 2px;
         }
      }

      #subcategory-selects {
        a.remove-subcategory {
          vertical-align: text-top;
        }
      }

      a#add-subcategory {
        font-size: 12px;
        float:right;
        margin-top: 3px;
        margin-bottom: 7px;
      }

      a#add-subcategory:hover {
        color: #2ba6cb;
      }

      #subcategories-control-group, #subdivision-control-group, #bioregion-control-group {
        display:none;
      }

      .show-until-control {
        width: 340px;
        line-height: 12px;
        @media (max-device-width: 767px) {
            width: 60%;
        }
      }

      #control-group-agree {
        input { float: left; }
        label {
          width: 500px;
          @media (max-device-width: 767px) {
            width: 60%;
          }
        }
      }
   }
}

div.map-bubble-background {
   max-width: 400px;
   .map-marker {
     font-family: sofia_pro_lightregular;
      p { font-family: sofia_pro_lightregular; }
      h2, h2 a {
        font-size: $h2-font-size;
        line-height: 32px;
        vertical-align: middle;
        font-weight: 600;
        font-family: "YoungAgrariansBoldBold";
      }
      h2 > img {
        position: relative;
        top: 7px;
      }

      .description { margin-top: 10px; }

      .category {
        margin-bottom: 5px;
        margin-top: -14px;
        margin-left: 43px;
        padding: 0;
        display: block;
      }

      .contact-info {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
        }

        li.phone, li.address {
          font-weight: 500;
        }
      }
   }
}

.gm-style div {
  font-family: 'sofia_pro_lightregular', Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  height: auto;
  ul {
    list-style-type: none;
  }
}

.reveal-modal {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.298039);
    border-radius: 6px 6px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 7px 0px;
    color: rgb(102, 102, 102);
    font: normal normal normal 12px/20px SofiaProLight, Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    margin: 0px 0px 10px -280px;
    width: 600px;
    font-size: 16px;

    padding-top: 5px;
    padding-bottom: 5px;

    .modal-body {
      fieldset {
        border: none;
      }

    }

    @media (max-device-width: 767px) {
      width: 80%;
      margin-left: -44%;
    }
}

// TOOD: a bit of a hack, check how to fix this properly with foundation
body {
  overflow-x: hidden;
}

div:empty {
   display: none;
}

.results-container {
  h1 {
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
    line-height: 35px;
  }
  .result-header {
    margin-bottom: -10px;
  }
}


.alert-box {
  margin: 10px 20px;
}

body {
  font-family: "sofia_pro_lightregular", Georgia, "Times New Roman", Times, serif;
}

@import "footer";

@media (max-device-width: 767px) {
  .banner {
    display: none;
  }
  .site-header {
    margin-top: 0px;
  }

  #reveal-modal-bg {
    display: block !important;
  }
}