@import "fonts"
@import "tooltip"

$orange: #C0421A

body
  background: black no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: "Sofia Pro", Arial, Helvetica, sans-serif
  margin: 0
  padding: 0

*
  box-sizing: border-box

input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"], select, textarea
  height: auto
  border-radius: 0
  border: 1px solid #888
  background-color: #f8f8f8
  padding: 5px
  margin: 0 4px 4px 0
  font-size: 17px
  font-family: "Sofia Pro", Arial, Helvetica, sans-serif

textarea, .tags
  border-radius: 0
  border: 1px solid #888
  background-color: #f8f8f8
  padding: 5px
  margin: 0 4px 4px 0
  font-size: 17px

textarea
  display: block
  width: 100%
  height: 12em
  padding: 1em
  font-family: 'Sofia Pro'

#cred
  display: none
  @media(min-width: 979px)
    display: block
    position: fixed
    bottom: 0
    right: -5px

  text-align: right
  padding: 5px 30px
  z-index: 10000
  font-size: 10px
  font-weight: bold
  a
    text-decoration: none
    color: black

.cred-fixed
  position: fixed
  bottom: 0
  right: -5px 

.search-box-map-wrap
  top: 25px
  left: 425px
  margin: 0
  width: 276px
  position: absolute
  @media (max-width: 768px)
    width: auto
    left: 25px
    top: 10px
    right: 100px

input.search-box-map
  width: 100%
  height: 35px


input
  &[type="checkbox"], &[type="radio"]
    -webkit-appearance: none
    height: 1.3em
    width: 1.3em
    margin: 0
    cursor: pointer
    position: relative
    display: inline-block
    background-color: #f8f8f8
    border: 1px solid #888
    vertical-align: middle
    margin-right: 5px
  &[type="checkbox"]
    &:before, &:checked:before
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      line-height: 1em
      font-size: 1.5em
      text-align: center
      color: black
      content: ''
  &[type="radio"]
    &:before, &:checked:before
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      line-height: 1em
      font-size: 1.5em
      text-align: center
      color: blacksplash-subhead
      content: ''
  &[type="checkbox"]:checked:before, &[type="radio"]:checked:before
    content: ''
    left: 10%
    top: 10%
    position: absolute
    width: 80%
    height: 80%
    display: block
    background-color: $orange

.pull-right
  text-align: right

/* site chrome / template */

header
  position: fixed
  top: 0
  right: 0
  left: 0
  height: 50px
  z-index: 3000
  background-color: #343434
  img.brand
    display: block
    float: left
    margin-top: 12px
    margin-left: 15px
    width: 330px
    max-width: 80%
    height: auto

  nav.mobile
    position: fixed
    width: 100%
    top: 0
    #menu
      background-color: #343434
      position: fixed
      width: 100%
      top: 50px
      left: -100%
      &.here
        left: 0
      transition: left 1s
    #ham
      position: absolute
      top: 11px
      right: 15px
      border: 0
      text-indent: 200%
      overflow: hidden
      background: url(/images/ham.png) center no-repeat
      background-size: 80%
      width: 30px
      height: 30px
      outline: none
      transition: all 400ms ease
      &.expanded
        transform: rotate(90deg)
        background-color: transparent
        border: 0
    a
      display: block
      padding: 6px 10px


  nav
    .nav-item
      padding: 6px 15px
      text-transform: uppercase
      
    a

      font-size: 26px
      text-decoration: none
      font-family: 'Young Agrarians', "Comic Sans MS", cursive, sans-serif
      color: white
      box-sizing: border-box
      &:hover, &:active, &:focus
        color: rgb(197,63,63)

  nav.desktop
    .nav-item
      display: block
      position: relative
      float: right
      @media(min-width: 1200px)
        padding: 6px 30px
      @media(max-width: 979px)
        font-size: 20px
        padding: 8px 6px
      &:last-child
        border-right: none

      .sub-menu
        display: none

    .nav-item:hover .sub-menu
      width: 150px
      padding: 10px
      display: block
      top: 40px
      left: 0
      @media(min-width: 1200px)
        left: 20px
      background: black
      position: absolute
      background-color: #343434
      li
        list-style: none
        margin-bottom: 0
      
      text-align: left


/* Map Landing Page - leads into specific search. */
.splash
  top: 50%
  left: 50%
  margin-top: -200px
  margin-left: -400px
  width: 800px
  position: absolute
  text-align: center

  .search-wrap
    position: relative
    height: 10px
    padding: 0 30px

  .search-box
    display: block
    width: 100%
    font-size: 17px
    padding: 8px 8px 8px 40px
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
    background: url(../images/icon/search.png) 8px 8px no-repeat white

  .splash-subhead
    margin-top: 50px
    font-size: 20px
    color: white
    a
      color: white
    text-shadow: 0 1px 2px rgba(0,0,0,0.8)

@media (max-width: 768px)
  .splash 
    margin-left: 0
    width: 100%
    left: 0
    top: 100px
    margin-top: 0
    img
      max-width: 100%
    .splash-subhead
      margin-top: 20px
      margin-bottom: 10px
      font-size: 18px


.blurb
  height: 40px
  width: 120px
  display: table-cell
  vertical-align: middle


.splash-subtag-menu
  display: none
  position: absolute
  overflow: hidden
  padding: 0
  margin: 0
  top: 120px
  border-radius: 5px
  width: 190px
  left: -35px
  li
    margin: 0
    background-color: rgba(0, 0, 0, 0.8)
    list-style: none
    padding: 5px 0 5px 0
    cursor: pointer
    display: block
    &:hover
      background-color: rgba(0,0,0, 0.6)

.splash-icons
  position: relative
  z-index: 100
  margin-bottom: 20px
  > li
    cursor: pointer
    position: relative
    line-height: 15px
    display: inline-block
    color: white
    width: 120px
    height: 120px
    padding: 20px 0 0 0
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0.2)
    transition: 0.5s background-color linear
    &:hover
      background-color: rgba(0, 0, 0, 0.9)
      .splash-subtag-menu
        display: block
        z-index: 1
/* end of map landing page */

/* map overlays -----------------------

button.submit, .toggle, .search-box-map, .panel
  position: absolute
  z-index: 1000

button.submit
  font-family: "Sofia Pro", courier, sans-serif
  right: 25px
  bottom: 25px
  height: 35px
  margin: 0
  padding: 7px 12px 7px 12px
  font-size: 17px
  line-height: 15px
  background-color: $orange
  color: white
  text-transform: none
  font-weight: normal
  border-radius: 0
  border: 1px solid black
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
  big
    font-weight: bold

.notification
  background-color: #188885
  width: 16px
  height: 16px
  position: absolute
  border-radius: 50%
  color: white
  top: 10px
  left: 18px
  line-height: 15px
  padding: 0
  text-align: center
  font-weight: bold

.category-toggle .notification
  left: auto
  right: 26px

.toggle
  border: 1px solid #888
  cursor: pointer
  top: 25px
  height: 35px
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
  @media (max-width: 768px)
    top: 55px

.results-toggle
  background: white
  text-align: right
  padding: 5px 15px 0 0
  left: -75px
  width: 60px
  top: 10px
  @media (max-width: 768px)
    left: auto
    right: 25px
  z-index: 6000

.layer-toggle
  right: 25px
  width: 60px
  background: url(../images/icon/layers.png) white no-repeat 6px 6px

.category-toggle
  left: 700px
  width: 130px
  background: white
  padding: 6px 0 0 6px
  @media (max-width: 768px)
    left: 95px

.category-toggle:after, .layer-toggle:after
  top: 40%
  right: 10px
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-color: rgba(0, 0, 0, 0)
  border-top-color: #000000
  border-width: 8px
  margin-left: -8px

.category-panel
  left: 700px
  @media (max-width: 768px)
    left: 95px


.panel
  top: 60px
  width: 200px
  @media (max-width: 768px)
    top: 95px
  li
    height: 50px
    background-color: black
    color: white
    list-style: none
    padding: 10px
    font-size: 17px
    cursor: pointer
    margin: 0

.layer-panel
  z-index: 2000
  right: 25px

  .legend-item
    width: 15px
    height: 15px
    display: inline-block

  @media (max-width: 424px)
    right: 0
    width: 140px
    li
      font-size: 14px

.breadcrumb
  li
    list-style: none
    display: inline-block
    &:not(:last-child):after
      content: ">"

.social-wrap
  h4
    margin: 0
    line-height: 25px
  @media (min-width: 769px)
    position: absolute
    top: 85px
    right: 40px
    text-align: right
    width: 220px

ul.social
  list-style: none
  display: inline
  margin: 0px
  padding: 0px

.social-icons
  float: right

.icons
  width: 140px

.social li a
  float: right
  background-image: url('/images/social-icons.jpg')
  width: 43px
  height: 45px
  margin-left: 3px
  margin-bottom: 2px

  &.facebook
    background-position: 0px 0px

  &.twitter
    background-position: 87px 0px

  &.flickr
    background-position: 43px 0px

  &.instagram
    background-position: 0px -45px

  &.google
    background-position: 87px -45px

  &.mail
    background-position: 43px -45px

  &:hover
    &.facebook
      background-position: 0px -90px

    &.twitter
      background-position: 87px -90px

    &.flickr
      background-position: 43px -90px

    &.instagram
      background-position: 0px 45px

    &.google
      background-position: 87px 45px

    &.mail
      background-position: 43px 45px

.wrap
  padding-top: 100px
  @media (max-width: 768px)
    padding-top: 60px

/* stuff for the admin password reset form */
.wrap h2
  display: none
/* generated class used by admin library. */
.new_user
  margin: 0 auto
/* done admin password reset stuff */

.detail-page, .list-page, .new_user

  position: relative
  &.standalone
    margin: 0 auto
  &.embed
    position: absolute
    top: 10px
    left: 50%
    margin-left: -500px
    bottom: 10px
    z-index: 1000
  max-width: 1000px
  width: 100%
  background: rgba(255, 255, 255, 0.9)
  padding: 20px 40px
  white-space: normal
  font-family: "Sofia Pro", courier, sans-serif
  a.url
    word-break: break-all
  h1, h3
    font-family: 'YOUNG AGRARIANS legible'
    font-weight: bold
    margin: 0.5em 0 0 0 
  h1
    a
      text-decoration: none
      color: inherit
    @media (min-width: 769px)
      max-width: 500px
      font-size: 40px
    @media (min-width: 1025px)
      font-size: 50px
      max-width: 700px
  .back
    font-family: 'Young Agrarians'
    font-weight: normal
    display: block
    margin: 5px 0 0 0
    padding: 0 0 0 35px
    cursor: pointer
    background: url(../images/icon/back-arrow.png) 0 5px no-repeat
    font-size: 25px
    color: inherit
    text-decoration: none
    height: 30px

  .location-description
    margin: 1em 0 1em 0
  
  #blog
    .six img
      max-width: 100%
      height: auto

  .links, .contact-email
    word-wrap: break-word

.extensions
  .four
    font-weight: bold
  .row
    border-bottom: 1px solid #ccc
    margin-bottom: 1em
    
.listing-header
  position: relative
  height: 53px
  padding: 0 0 0 60px
  font-size: 20px
  text-transform: uppercase
  border-bottom-width: 2px
  border-bottom-style: solid
  overflow: hidden
  .filled
    position: absolute
    height: 2px
    bottom: 0
    left: 0
    right: 0
  img
    position: absolute
    top: 0
    right: 0
    @media (max-width: 768px)
      width: 100px
      height: auto
  .category-heading
    font-weight: normal
    padding-top: 20px
    @media (max-width: 768px)
      font-size: 17px
      padding-top: 25px
  .category-icon
    position: absolute
    top: -3px
    left: -3px
    width: 60px
    height: 60px
    background-repeat: no-repeat
    background-size: 60px 60px



/* -------------- sidebar ---------------

page
  top: 50px
  position: fixed
  bottom: 0
  left: 0
  right: 0

.cat-counts
  margin: 8px 5px 8px 10px
.cat-count
  padding: 1px
  span
    white-space: nowrap
    text-transform: uppercase
    padding: 1px 3px 1px 3px
    color: black
    border-radius: 2px
    cursor: pointer
    &.show-all
      color: white
      background: #343434
      border: 1px solid #343434
.show-all-count
  position: absolute
  top: 47px
  right: 0

.top_category_list
  margin: 0
  li
    display: inline-block
    padding: 1px
    list-style: none
    a
      background-color: black
      display: inline
      padding: 1px 3px 1px 3px
      border-radius: 2px
      color: white
      text-decoration: none

.results-sidebar
  position: absolute
  left: 0
  top: 0
  bottom: 0
  width: 400px
  max-width: 100%
  overflow: auto
  background: white
  .meta-nav a
    display: inline-block
    background-color: #555
    width: 47px
    height: 47px
    border-radius: 50%
    margin: 5px 2px 0 2px
    text-align: center
    padding-top: 10px
    cursor: pointer
    img
      height: 30px
    &.active
      background-color: black

.content-logo-wrap
  display: block
  padding: 8px 0 0 8px

ul.results-list
  padding: 0
  margin: 0
  z-index: 1000
  li
    overflow: hidden
    position: relative
    background-color: #eaeaea
    list-style-type: none
    margin: 6px 12px
    width: 360px
    height: 60px
    border-left-width: 3px
    border-left-style: solid
    @media (max-width: 768px)
      max-width: 90%
    .listing-text
      position: absolute
      left: 60px
      right: 60px
      top: 5px
      bottom: 5px
      font-size: 14px
      text-decoration: none
      line-height: 14px
      overflow: hidden
    label
      text-transform: uppercase
      font-weight: bold
      margin-bottom: 2px
    .name
      color: black
      display: block
      height: 18px
      line-height: 18px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    .city
      color: black
      text-transform: uppercase
    .view-on-map
      position: absolute
      right: 10px
      top: 7px
      line-height: 12px
      font-size: 12px
      text-align: right
      cursor: pointer
    .listing-icon
      position: absolute
      left: 0
      top: 0
      width: 60px
      height: 60px

#map
  position: absolute
  top: 0
  bottom: 0
  left: 400px
  right: 0
  z-index: 10
  @media (max-width: 768px)
    left: 0

.clearfix:after 
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0
.clearfix
  display: inline-block
/* start commented backslash hack \*/
* html .clearfix
  height: 1%
.clearfix
  display: block
/* close commented backslash hack */

results.show
  .results-sidebar
    z-index: 5000

#minimap
  width: 400px
  height: 200px

.map-icon .filled
  width: 15px
  height: 15px
  border-radius: 50%
  background: black
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.1);

.leaflet-div-icon
  border-width: 0
  background: transparent

.cluster-icon .filled
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  text-align: center
  border-radius: 50%
  width: 25px
  height: 25px
  color: white

.popup
  position: relative
  .listing-icon
    position: absolute
    background-size: 30px 30px
    background-repeat: no-repeat
    left: 0
    top: 0
    width: 40px
    height: 40px
  label
    padding: 5px 0 2px 32px
    font-size: 17px
    font-weight: normal
    text-transform: uppercase
  .description
    margin: 0 0 5px 0
    font-size: 22px
    line-height: 17px
    font-family: 'Young Agrarians', "Comic Sans MS", cursive, sans-serif
    a
      text-decoration: none
      color: black
  .contact
    margin: 0 0 5px 0
    font-size: 14px
  .city
    margin: 0
    font-size: 14px
    text-transform: uppercase
    float: left
  .info
    margin: 0
    font-size: 14px
    cursor: pointer
    display: block
    float: right
    bottom: 0
    right: 5px
  font-family: "Sofia Pro", Arial, Helvetica, sans-serif
  .triangle-arrow
    display: inline-block



.leaflet-popup-content
  margin: 5px 10px 5px 5px

.leaflet-popup-content-wrapper
  border: 1px solid black
  min-width: 250px

.leaflet-popup-tip-container
  top: -1px

.leaflet-popup-tip
  border: 1px solid black

/* --------------------- CONTROLS --------------------------------

.leaflet-bar
  a
    &:first-child, &:last-child
      border-radius: 0
    width: 35px
    height: 35px
    line-height: 35px
    &:hover
      width: 35px
      height: 35px
      line-height: 35px
  border-radius: 0
  border: 0.5px solid black

.leaflet-left .leaflet-control
  margin-left: 25px
  box-shadow:  0 3px 3px rgba(0, 0, 0, 0.2)

.leaflet-bottom .leaflet-control
  margin-bottom: 25px

.leaflet-bar a:first-child
  border-bottom: 0.5px solid black

@import "icons"

.view-on-map .triangle-arrow
  margin: 8px 0 0 27px

.popup .triangle-arrow
  margin: 0 0 0 5px
  top: -1px

.view-on-map .triangle-arrow, .popup .triangle-arrow
  width: 12px
  height: 6px
  position: relative

.view-on-map .triangle-arrow:after, .popup .triangle-arrow:after
  content: ''
  position: absolute
  top: -5px
  right: -8px
  border-left-width: 8px
  border-left-style: solid
  border-top: 8px solid transparent
  border-bottom: 8px solid transparent

/* Listing CRUD pages. */
.tabs, .thanks header
  background: url(image_path( 'umap-text.png' )) 15px 15px no-repeat $orange
  background-size: 155px
  padding: 0 0 0 250px
  margin: 0
  @media (max-width: 769px)
    background: $orange
    padding-left: 0

.thanks header
  height: 80px
  /* override other header */
  position: relative
  top: auto
  right: auto
.tabs
  list-style: none
  li
    display: inline-block
    padding: 20px
    margin: 0
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    a
      text-decoration: none
      color: white
      font-size: 17px
    &.active
      background: white
      a
        color: black
    @media (max-width: 769px)
      padding: 2px

.thanks section, .listing-edit
  background-color: white
  position: absolute
  top: 50px
  @media (min-width: 769px)
    top: 100px
    left: 50%
    margin-left: -400px
    width: 800px

.btn-wrap
  margin-top: 10px
  margin-left: -3px

.center
  text-align: center

.listing-edit
  @media (min-width: 769px)
    bottom: 50px
  form
    padding: 0
    margin: 0
  h3
    margin: 10px 0 0 20px
    font-size: 38px
    font-family: 'Young Agrarians'
    background-color: white
  h4
    margin: 10px 0 0 0
    text-transform: uppercase
    font-weight: normal
    font-size: 28px
    font-family: "Young Agrarians"
  li
    list-style: none
  big
    font-size: 17px
  .boxy
    label
      width: 140px
  .description-form
    select, input[type="text"]
      width: 100%
      max-width: 500px
  .contact-info-form
    .six
      select, input[type="text"], input[type="tel"], input[type="email"]
        width: 180px

  .account-setup-form
    input, button
      width: 150px
    button
      text-align: center
      padding: 0

  .comments
    input
      width: 300px
  label
    font-size: 17px
    font-weight: normal
    display: inline-block
    &.radio
      width: auto
      span
        padding-left: 10px

  .form-content
    padding-top: 15px
    @media (min-width: 769px)
      position: absolute
      top: 140px
      bottom: 100px
      left: 20px
      right: 20px
      &.overflow
        overflow: auto
        box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.3), inset 0 10px 10px -10px rgba(0,0,0,0.3)
    @media (max-width: 768px)
      padding: 10px 20px
  
  .field_with_errors
    display: inline-block
    .field-error
      border-color: darkred
  .error_list
    color: darkred
  
  &.land-form
    label:first-child
      display: block
    label:not(:first-child), span, .choice-wrapper label, .multiple-choice label
      display: block
      padding-left: 25px
      font-size: 15px
      line-height: 15px
    input[type="text"], select
      width: 500px
      max-width: 90%
    #location_all_true, #location_insurance
      display: block

  .category-list
    li
      margin: 0
      label
        width: auto


  .radio-wrap
    padding: 0 0 0 15px
    margin: 0 0 10px 0
    label
      font-size: 14px
  .row-fieldset
    padding-top: 11px
  .btnbar
    @media (min-width: 769px)
      position: absolute
      bottom: 0
      left: 0
      right: 0
    @media (max-width: 550px)
      .btn, .button, button
        display: block
        width: 100%
        max-width: 480px
        text-align: center
        margin: 0 0 5px 0
    height: 96px
    padding: 20px
    background-color: white

  .tooltip-wrapper:after
    content: "i"
    border: 1px solid black
    border-radius: 50%
    width: 0
    height: 0
    display: inline
    padding: 0 0.5em
    text-align: center
    margin-left: 0.5em

  .zoning-info
    display: inline-block


.required-icon
  color: $orange
.required:before
  content: "*"
  color: $orange
  position: absolute
  left: -10px
  top: 0
.form-element
  position: relative

input.taggle_input
  border: 0px none transparent
  padding: 0
  margin: 0
  line-height: 30px


.btn, button, .button
  vertical-align: middle
  display: inline-block
  height: 38px
  font-family: 'Sofia Pro'
  color: white
  border: 0px none transparent
  border-radius: 0
  text-transform: none
  font-size: 15px
  font-weight: normal
  line-height: 18px
  padding: 10px 30px
  text-decoration: none

button.btn-primary, button.button-primary, .button.button-primary
  background-color: $orange
  padding-right: 30px
  padding-left: 30px
.btn-muted
  background: #bcbab9
.btn-small
  padding: 0 20px 0 20px
  line-height: 30px
  height: 30px

p.aside
  line-height: 17px
.land-form
  div.multiple-choice, div.choice-wrapper
    display: inline



.desktop, nav.desktop
  /* desktop and tablet are currently treated the same.*/
  @media (max-width: 768px)
    display: none

.tablet, nav.tablet
  /* desktop and tablet are currently treated the same.*/
  @media (max-width: 768px)
    display: none

.mobile, nav.mobile
  @media (min-width: 769px)
    display: none
.thanks
  h3
    text-align: center
  p
    width: 50%
    margin: auto

.fn-label
  color: white
  text-shadow: 1px 0 2px rgba(0,0,0,1)
  text-align: center
  position: relative
  &:after
    left: 0
    top: 0
    content: ''
    position: absolute
    width: 8px
    height: 8px
    border-radius: 50%
    background: white
    box-shadow: 0 1px 3px rgba(0,0,0,0.8)


@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loading
  border-radius: 50%
  margin: 10px auto
  width: 24px
  height: 24px
  border: 0.25rem solid rgba(0, 0, 0, 0.2)
  border-top-color: black
  animation: spin 1s infinite linear
