<div class="row collapse">
  <a href="#" data-reveal-id="app-modal" id="add-to-map" class="button small radius success">Add Resource</a>
  <a href="#" data-reveal-id="app-modal" id="show-about" class="button small radius secondary">About</a>
</div>
