<a href="#" data-reveal-id="app-modal" id="add-to-map" class="button tiny radius success">Add Resource</a>
<a href="#" data-reveal-id="app-modal" id="show-about" class="button tiny radius secondary">About</a>

