<form id="search-form" method="POST" >
	<div class="search-field-container row collapse">
    <div class="small-9 columns">
  	 <input type="text" placeholder="Search" name="search" id="search" />
    </div>
  	 <a id="map-search-clear"><i class="icon-remove"></i></a>
    <div id='search-button-container columns small-3'>
      <button id="search-button" class="tiny round button" type="button"><i class='icon-search'></i></button>
    </div>
	</div>
</form>
