.listing-header{ class: category_class_list( @location )}
  .category-icon{ style: "background-image:url(#{big_icon_hash[category_class_list( @location )]})"} &nbsp;
  .category-heading #{category_class_list( @location )}
  %a{ href: '/map', target: '_blank'}
    #{image_tag 'umap-content-title.png'}
  .filled
#{link_to 'Return to Map', map_path, class: 'back'}
