.listing-header{ class: category_class( @location )}
  .category-icon{ style: "background-image:url(#{big_icon_hash[category_class( @location )]})"} &nbsp;
  .category-heading #{category_class( @location ).gsub('-', ' ')}
  %a{ href: '/map', target: '_blank'}
    #{image_tag 'umap-content-title.png'}
  .filled
- if request.referrer and request.referrer.include? "/map"
  %a.back{ href: "javascript: history.go(-1); close();" }
    Return to map
- else
  %a.back{ href: "/map" }
    Go to map