= stylesheet_link_tag 'new_listing'
%ul.tabs
  %li{ class: selected == 'categories' ? 'active' : nil }<= link_to 'Categories', new_location_path( step: 'categories' )
  %li{ class: selected == 'account' ? 'active' : nil }<= link_to 'Log In', new_location_path( step: 'account' )
  %li{ class: selected == 'description' ? 'active' : nil }<= link_to 'Description', new_location_path( step: 'description' )
  %li{ class: selected == 'contact' ? 'active' : nil }<= link_to 'Contact', new_location_path( step: 'contact' )
