.thanks
  %section
    %header

    %h3<Thank You!

    %p
      We'll review your posting and put it up on the U-Map!
    .btn-wrap.center
      = link_to 'Return to Map', map_path, class: 'button button-primary'
      = link_to 'View My Listings', '/locations' , class: 'button button-primary'
    %br
    %br