.thanks
  %section
    %header

    %h3<Thank You!

    %p
      Thank you for submitting your listing. It is being reviewed and once approved you'll receive an email with a link to view your listing. For more information contact: farm@youngagrarians.org.
    .btn-wrap.center
      = link_to 'Return to U-MAP', map_path, class: 'button button-primary'
      - if current_user
        = link_to 'View My Listings', '/locations' , class: 'button button-primary'
    %br
    %br