<header id="masthead" class="site-header" role="banner">
  <div class="banner">

    <div class="logo">
      <a class="home-link" href="http://youngagrarians.org/" title="Young Agrarians" rel="home"></a>
    </div>

    <div class="social-icons">
      <div class="search-bar">
        <form action="http://youngagrarians.org/" method="get">
          <input type="text" name="s" id="search" placeholder="search YA ..." value="" />
        </form>         </div>
        <div class="icons">

          <ul class="social one">   
           <li><a class='facebook' href='https://www.facebook.com/YoungAgrarians' target='_blank' title='Facebook'></a></li>
           <li><a class='twitter' href='https://twitter.com/youngagrarians' target='_blank' title='Twitter'></a></li>
           <li><a class='flickr' href='http://www.flickr.com/groups/youngagrarians/' target='_blank' title='Flickr'></a></li>
         </ul>
         <ul class="social two">   
           <li><a class='instagram' href='http://instagram.com/youngagrarians' target='_blank' title='Instagram'></a></li>
           <li><a class='google' href='https://plus.google.com/101241945238700436364/posts' target='_blank' title='Google+'></a></li>
           <li><a class='mail' href='mailto:theyoungagrarians@gmail.com' target='_blank' title='Mail'></a></li>
         </ul>

       </div>
     </div> 
     <div class="top-buttons">
      <a class="u-map map-tracker" href="http://maps.youngagrarians.org"><p>U-Map<br/><span class="sub">Farm Resources</span></p></a>
      <a class="sign-up fb_iframe" href="http://youngagrarians.org/mailchimp-pop-up/mailchimp-pop-up.html"><p>Sign Up<br/><span class="sub">For Our Newsletter</span></p></a>
      <a class="donate" href="index.php?page_id=2440"><p>Donate<br/><span class="sub">Help Us Grow</span></p></a>
    </div>        

  </div>
  <div id="navbar" class="navbar">
    <nav id="site-navigation" class="navigation main-navigation" role="navigation">
      <h3 class="menu-toggle">Menu</h3>
      <div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav-menu"><li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://youngagrarians.org/about/">About</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span>
        <ul class="sub-menu">
          <li id="menu-item-2382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2382"><a href="http://youngagrarians.org/about/network/">Network</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2873"><a href="http://youngagrarians.org/jobs/">Jobs</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2381"><a href="http://youngagrarians.org/about/funders/">Funders</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2443"><a href="http://youngagrarians.org/about/donate/">Donate</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
        </ul>
      </li>
      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://youngagrarians.org/events/">Events</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
      <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://youngagrarians.org/tools/">Tools</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span>
        <ul class="sub-menu">
          <li id="menu-item-2413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2413"><a href="http://maps.youngagrarians.org/">u-map</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="u-map" data-action="click" data-label="menu-item" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-5261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5261"><a href="http://youngagrarians.org/tools/business/">Business</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="http://youngagrarians.org/tools/land/">Land</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2873"><a href="http://youngagrarians.org/jobs/">Jobs</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-3011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3011"><a href="http://youngagrarians.org/survey/">Survey</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
        </ul>
      </li>
      <li id="menu-item-2779" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2779"><a href="http://youngagrarians.org/mediafarm/">Media Farm</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span>
        <ul class="sub-menu">
          <li id="menu-item-2664" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2664"><a href="http://youngagrarians.org/mediafarm/press/">Press</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2423"><a href="http://youngagrarians.org/mediafarm/social-media/">Social Media</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
          <li id="menu-item-2570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2570"><a href="http://youngagrarians.org/mediafarm/videos/">Video</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
        </ul>
      </li>
      <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://youngagrarians.org/contact-us/">Contact Us</a><span style="display:none;" class="ga-tracking" data-method="_trackEvent" data-category="" data-action="" data-label="" data-value="" data-noninteraction=""></span></li>
    </ul></div>         
  </nav><!-- #site-navigation -->
</div><!-- #navbar -->
    </header><!-- #masthead -->