
<header>
    <a class="brand" href="/">&nbsp;</a>
    <ul class="nav">
        <li class="nav-item"><a href="http://youngagrarians.org/about/" target="_blank">ABOUT</a></li>
        <li class="nav-item"><a href="http://youngagrarians.org/events/" target="_blank">EVENTS</a></li>
        <li class="nav-item"><a href="http://youngagrarians.org/tools/" target="_blank">TOOLS</a></li>
        <li class="nav-item"><a href="http://youngagrarians.org/mediafarm/" target="_blank">MEDIA FARM</a></li>
        <li class="nav-item"><a href="http://youngagrarians.org/contact-us/" target="_blank">CONTACT US</a></li>
        <li class="nav-item"><a href="http://youngagrarians.org/index.php?page_id=2440" target="_blank">DONATE</a></li>
    </ul>
</header>