
<header>
    <a target="_blank" href="http://youngagrarians.org">
      <img class="brand" src="/images/young-agrarians-text-small.png">
    </a>

    <nav class="desktop tablet">
      <% if current_user -%>
        <%= link_to 'account', '/locations' -%>
      <% else -%>
        <%= link_to 'login', login_path -%>
      <% end -%>
      <a href="http://youngagrarians.org/contact-us/" target="_blank">CONTACT</a>
      <a href="http://youngagrarians.org/mediafarm/" target="_blank">MEDIA</a>
      <a href="http://youngagrarians.org/tools/" target="_blank">TOOLS</a>
      <a href="http://youngagrarians.org/events/" target="_blank">EVENTS</a>
      <a href="http://youngagrarians.org/about/" target="_blank">ABOUT</a>
    </nav>

    <nav class="mobile">
      <span id="ham" onclick='toggleHam(event)'></span>
      <div id='menu' class='away'>
           <% if current_user -%>
            <%= link_to 'account', '/locations' -%>
          <% else -%>
            <%= link_to 'login', login_path -%>
          <% end -%>
          <a href="http://youngagrarians.org/contact-us/" target="_blank">CONTACT</a>
          <a href="http://youngagrarians.org/mediafarm/" target="_blank">MEDIA</a>
          <a href="http://youngagrarians.org/tools/" target="_blank">TOOLS</a>
          <a href="http://youngagrarians.org/events/" target="_blank">EVENTS</a>
          <a href="http://youngagrarians.org/about/" target="_blank">ABOUT</a>
      </div>
    </nav>

</header>

