.detail-page.standalone
  %h4{:style => "margin-bottom:30px"} Create an account
  = form_for @account || Account.new, builder: FormBuilder do |f|
    = f.email_field :email
    = f.password_field :password
    = f.password_field :password_confirmation
    .btn-wrap
      %button.btn.btn-primary.btn-small{ name: 'step', value: 'description' } Create
